
.anchorjs-link.gua {
  font-family: anchorjs-icons; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: normal; 
  line-height: inherit; 
  position: absolute; 
  margin-left: -1em; 
  padding-right: 0.5em;
} 